#container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 8% 0px 0px 6%;
}
body{
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.4)),
    url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; height: 87vh;
}
#quots{
    font-size: 25px;
    font-family: bold;
    width: 470px; 
    height: 190px;
    padding: 60px 5px 10px 5px;
    text-align: center;
    background-color: #eee;
    margin: 30px 50px 0px 0px;
    font-family: Truculenta, sans-serif; 
}
#start , #end {
    font-size: 30px;
    color: white;
}
#end {
    float: right;
}
.btn , .btn:hover{
    display: block;
    width: 200px;
    height: 60px;
    font-size: 20px;
    padding: 5px;
    margin: 40px 0px 10px 135px;
    color:black;
    background-color: #eee;
}
@media (max-width: 576px){
    #quots{
        font-size: 22px;
        width: 320px; 
        height: 200px;
        margin: 20px;
    }
    .btn , .btn:hover{
        width: 160px;
        height: 55px;
        font-size: 17px;
        padding: 10px;
        margin: 17px 0px 0px 110px;
    }
    #container{
        margin: 130px 0px 0px 0px;
    }
    #start{
    padding: 0px 0px 0px 13px;
    }
    #end {
        padding: 0px 13px 0px 0px;
    }

}